body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: auto;
}

.sidebar {
    padding-top: 40px;
    background-color: #1E2939;

    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
}

.sidebar > .photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-block {
    margin-left: 40px;
    margin-top: 45px;
}

.sidebar-block-title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
}

.contacts {

}

.contacts .contact-type {
    font-weight: 700;
}

.contacts .contact-link {
    color: inherit;
    opacity: 0.5;
}

